body {
  background: #feffed url(../src/assets/bg.png) 0% 0% no-repeat padding-box;
  background-size: 100%;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
.container {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
.container-fluid {
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
  display: block;
}